<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <appSettings>
    <add key="Nexmo.Url.Rest" value="https://rest.nexmo.com" />
    <add key="Nexmo.Url.Api" value="https://api.nexmo.com" />
    <add key="Nexmo.Application.Id" value="ffffffff-ffff-ffff-ffff-ffffffffffff" />
    <add key="Nexmo.Application.Key" value="c:\path\to\your\application\private.key"/>
  </appSettings>
</configuration>