name: Mutation testing
on: workflow_dispatch

permissions:
  actions: write
  checks: write
  contents: read
  deployments: read
  id-token: read
  issues: write
  discussions: write
  packages: read
  pages: write
  pull-requests: write
  repository-projects: none
  security-events: write
  statuses: write
  
jobs:
  mutation:
    name: Run mutation analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Stryker
        run: dotnet tool install -g dotnet-stryker
      - name: Run mutation testing
        run: |
          cd Vonage.Test.Unit
          dotnet stryker
      - uses: actions/upload-artifact@v3
        with:
          name: mutation-report
          path: Vonage.Test.Unit/StrykerOutput/**/reports/mutation-report.html     