name: Release
on:
  release:
    types: [ published ]

permissions:
  actions: write
  checks: write
  contents: write
  deployments: read
  issues: write
  discussions: write
  packages: write
  pages: write
  pull-requests: write
  security-events: write
  statuses: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: bhowell2/github-substring-action@1.0.2
        id: extract_version
        with:
          value: ${{ github.event.release.tag_name }}
          index_of_str: "v"
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.target_commitish }}
      - name: Build
        run: dotnet build -c Release Vonage/Vonage.csproj -v minimal
      - name: Pack
        run: dotnet pack -c Release Vonage/Vonage.csproj -v minimal --no-build
      - name: NuGet Push
        run: dotnet nuget push Vonage/bin/Release/Vonage.${{ steps.extract_version.outputs.substring }}.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
